@model List<Trabajo.Practico.Entiti.Framework.MVC.Models.ShippersModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <label>Nombre de la compañia</label>
        </th>
        <th>
           <label>Telefono</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
